<div class="container">
  <div class="columns">
    <div class="column is-12-mobile is-10-tablet is-offset-1-tablet is-8-desktop is-offset-2-desktop is-6-widescreen is-offset-3-widescreen has-text-centered mt-6">
      <h2 class="title is-1 is-uppercase">Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field is-horizontal column is-12 my-2">
          <div class="field-label is-normal">
            <%= f.label :email, class: 'label' %>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control has-icons-left">
                <%= f.email_field :email,
                                  class: 'input',
                                  autofocus: true,
                                  required: true,
                                  placeholder: 'email@example.com',
                                  autocomplete: 'email' %>
                <span class="icon is-left"><i class="fas fa-envelope"></i></span>
              </p>
            </div>
          </div>
        </div>

        <div class="field is-horizontal column is-12 my-2">
          <div class="field-label is-normal">
            <%= f.label :password, class: 'label' %>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control has-icons-left">
                <%= f.password_field :password,
                                     class: 'input',
                                     required: true,
                                     placeholder: 'password',
                                     autocomplete: 'current-password' %>
                <span class="icon is-left"><i class="fas fa-lock"></i></span>
              </p>
            </div>
          </div>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field mt-2">
            <div class="control">
              <%= f.label :remember_me, class: 'checkbox' do %>
                <%= f.check_box :remember_me, class: 'checkbox' %>
                <span>Remember me</span>
              <% end %>
            </div>
          </div>
        <% end %>

        <%= f.button 'Log in', class: 'button is-link mt-4' %>
      <% end %>

      <div class="mt-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
