<div class="column is-12-mobile is-6-tablet is-4-desktop">
  <% if user_signed_in? %>
    <div class="card mx-1" data-controller="favorite" data-favorite-url="<%= favorite_image_path %>"
         data-favorite-id-unsplash="<%= image.id %>" data-favorite-url-unsplash="<%= image.urls.raw %>">
      <div class="card-image has-text-centered">
        <figure class="image" style= "cursor: pointer;">
          <%= image_tag image.urls.raw, alt: 'Image', data: { action: 'click->modal#open' } %>
        </figure>
      </div>
      <div class="card-content py-0 px-0">
        <p class="has-text-centered" style="width: 100%">
          <i class="fas fa-heart not_liked" style= "cursor: pointer;" data-target="favorite.heart" data-action="click->favorite#submit"></i>
        </p>
      </div>
    </div>
  <% else %>
    <div class="card mx-1">
      <div class="card-image has-text-centered">
        <figure class="image" style= "cursor: pointer;">
          <%= image_tag image.urls.raw, alt: 'Image', data: { action: 'click->modal#open' } %>
        </figure>
      </div>
    </div>
  <% end %>
</div>
